*.mo
/_build/

# Submodules to avoid issues
cpython
.migration/tutorialpyar

# Files overriden by our scripts
Doc/tools/templates/customsourcelink.html
Doc/tools/templates/indexsidebar.html
Doc/CONTRIBUTING.rst
Doc/translation-memory.rst
Doc/upgrade-python-version.rst
locales/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
venv
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.mypy_cache/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Ides
.vscode/
.idea/
/translation-memory.po
/locale/
