[submodule "cpython"]
	path = cpython
	url = https://github.com/python/cpython.git
	branch = 3.8
	shallow = true
[submodule "tutorialpyar"]
	path = .migration/tutorialpyar
	url = https://github.com/pyar/tutorial.git
