pip
Sphinx==7.2.6
blurb
Pygments==2.16.1
PyICU
polib
pospell>=1.1
potodo
powrap
python-docs-theme>=2022.1
setuptools
sphinx-intl
pre-commit
sphinx-autorun
sphinxemoji
sphinx-tabs==3.4.4
sphinx-lint==0.7.0
tabulate
