docutils==0.21.2
pip
Pygments>=2.17.0
PyICU
polib
pospell>=1.1
potodo
powrap>=1.0.2
setuptools
sphinx-intl>=2.3.0
pre-commit
sphinx-autorun
sphinxemoji
sphinx-tabs==3.4.5
sphinx-lint==0.7.0
tabulate

# from cpython/Doc/requirements.txt
sphinx~=8.1.0

blurb

sphinxext-opengraph~=0.9.0
sphinx-notfound-page~=1.0.0

# The theme used by the documentation is stored separately, so we need
# to install that as well.
python-docs-theme>=2023.3.1,!=2023.7
