docutils==0.20.1
pip
Sphinx==7.2.6
blurb
Pygments==2.16.1
PyICU
polib
pospell>=1.1
potodo
powrap>=1.0.2
python-docs-theme>=2022.1
setuptools
sphinx-intl>=2.3.0
pre-commit
sphinx-autorun
sphinxemoji
sphinx-tabs==3.4.5
sphinx-lint==0.7.0
tabulate
